In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv("/content/dataset - Sheet1.csv")

In [ ]:
df.head()

,SERIAL NO,LENGTH OF THE SHEER WALL,HEIGHT OF THE SHEER WALL,CONCRETE COST,STEEL COST,COST OF SHEAR WALL
0,1,54,8.0,1121070.60,1817096.00,2838166.60
1,2,54,8.1,1132754.64,1839839.99,2972594.63
2,3,54,8.2,1144438.68,1862583.98,3007022.66
3,4,54,8.3,1156122.72,1885327.97,3041450.69
4,5,54,8.4,1167806.76,1908071.96,3075878.72

In [ ]:
df.columns

Index(['SERIAL NO', 'LENGTH OF THE SHEER WALL', 'HEIGHT OF THE SHEER WALL',
       'CONCRETE COST ', 'STEEL COST', 'COST OF SHEAR WALL '],
      dtype='object')

In [ ]:
df=df.drop(['SERIAL NO'],axis=1)

In [ ]:
df=df.dropna()

In [ ]:
x = np.asarray(df.drop('COST OF SHEAR WALL ',axis=1))
y =np.asarray(df['COST OF SHEAR WALL '])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor()

In [ ]:

y_pred = regressor.predict(X_test)

In [ ]:
y_pred

array([5967833.24, 5003848.4 , 5589124.91, 6071117.33, 3523443.11,
       3385730.99, 3626727.2 , 7723662.77, 7551522.62, 5967833.24,
       5416984.76, 7620378.68, 4590712.04, 5003848.4 , 6346541.57,
       7517094.59, 2838166.6 , 3282446.9 , 5210416.58, 6312113.54,
       6897390.05, 5313700.67, 6759677.93, 3041450.69, 5141560.52])